{% extends "base.html" %}

{% block tittle_text %}Acerca de mí{% endblock tittle_text %}
{% block h1_text %}Acerca del creador{% endblock h1_text %}
{% block p_text %}Conocé al desarrollador detrás de esta app{% endblock p_text %}

{% block content %}
<div class="text-center bg-dark text-white p-4 rounded shadow">
  <h2 class="mb-4">Hola, soy Lautaro Falco 👋</h2>
  <p>Soy estudiante de la carrera de Data Science en CoderHouse.<br>
     Esta aplicación fue desarrollada con Django como parte del proyecto final de Python.</p>
</div>
{% endblock %}
