{% extends "base.html" %}

{% block tittle_text %}Eliminar Videojuego{% endblock tittle_text %}
{% block h1_text %}Eliminar Videojuego{% endblock h1_text %}
{% block p_text %}Seleccione qué videojuego desea eliminar.{% endblock p_text %}

{% block content %}
<div class="container mt-5">
    <ul class="list-group">
        {% for juego in videojuegos %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ juego.titulo }}
                <a href="{% url 'juegos:borrar_videojuego' juego.id %}" class="btn btn-sm btn-danger">Eliminar</a>
            </li>
        {% empty %}
            <li class="list-group-item">No hay videojuegos cargados.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

